@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p, label, span, input, button, a {
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
}

ol, ul {
  list-style: none;
}

:root {
  /* Colors */
  --mgc-color-001: white;
  --mgc-color-002: #F4DFBA;
  --mgc-color-003: #CA965C;
  --mgc-color-004: #876445;
  --mgc-color-005: red;

  --mgc-white: var(--mgc-color-001);
  --mgc-sand: var(--mgc-color-002);
  --mgc-light-brown: var(--mgc-color-003);
  --mgc-dark-brown: var(--mgc-color-004);
  --mgc-error-color: var(--mgc-color-005);

  /* SPACINGS */
  /* Margins */
  --mgc-margin-s: 5px;
  --mgc-margin-m: 10px;
  --mgc-margin-l: 20px;
  --mgc-margin-xl: 40px;
  
  /* Paddings */
  --mgc-padding-s: 5px;
  --mgc-padding-m: 10px;
  --mgc-padding-l: 20px;
  --mgc-padding-xl: 40px;

  /* Gaps */
  --mgc-gap-s: 5px;
  --mgc-gap-m: 10px;
  --mgc-gap-l: 20px;
  --mgc-gap-xl: 50px;

  /* Radius */
  --mgc-radius-xs: 5px;
  --mgc-radius-s: 10px;
  --mgc-radius-m: 20px;
  --mgc-radius-l: 30px;
  --mgc-radius-xl: 40px;

  /* Font sizes */
  --mgc-font-size-xs: clamp(0.5rem, 0.15vw + 0.35rem, 0,7rem);
  --mgc-font-size-s: clamp(0.7rem, 0.15vw + 0.65rem, 0,9rem);
  --mgc-font-size-base: clamp(1rem, 0.40vw + 0.9rem, 1.2rem);
  --mgc-font-size-l: clamp(1.5rem, 1vw + 1.2rem, 2rem);
}


/* MEDIA QUERIES */
/* Estilos para tablets en modo paisaje y laptops */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  
}

/* Estilos para smartphones grandes y tablets */
@media only screen and (min-width: 481px) and (max-width: 768px) {
  
}


/* Estilos para smartphones pequeños */
@media only screen and (max-width: 480px) {
}
