.general-button {
    min-width: 150px;
    cursor: pointer;
    border: none;
    border-radius: var(--mgc-radius-s);
    padding: var(--mgc-padding-m);
    background-color: var(--mgc-dark-brown);
    color: var(--mgc-white);
    transition: all 0.5s;
}

.general-button:hover {
    transform: scale(1.1);
}