.form {
    width: 40vw;
    min-width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: var(--mgc-radius-s);
    background-color: var(--mgc-white);
    gap: var(--mgc-gap-l);
    padding: var(--mgc-padding-l);
}

p.error {    
    width: 40vw;
    min-width: 350px;
    background-color: #f28a8a;
    border-left: 5px solid var(--mgc-error-color);
    font-size: var(--mgc-font-size-xs);
    padding: var(--mgc-padding-m);
}
div.text-form-container {
    padding: var(--mgc-padding-l);
}

p.text-form {
    font-size: var(--mgc-font-size-xs);
    color: var(--mgc-dark-brown);
}

/* MEDIA QUERIES */
/* Estilos para tablets en modo paisaje y laptops */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  
}

/* Estilos para smartphones grandes y tablets */
@media only screen and (min-width: 481px) and (max-width: 768px) {
    .form {
        width: 80vw;
    }
}


/* Estilos para smartphones pequeños */
@media only screen and (max-width: 480px) {
    .form {
        width: 95vw;
    }
}