article {
    position: relative;
    width: 200px;
    min-height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: var(--mgc-gap-s);
}
article > p {
    text-align: center;
    padding: var(--mgc-padding-s);
}

.img-container {
    width: 200px;
    height: 300px;
    overflow: hidden;
}

.img-container img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: transform 0.5s ease;
    z-index: 1;
}
.img-container img:hover {
    transform: scale(1.5);
}

.push-like-img {
    width: 30px;
    position: absolute;
    top: -15px;
    right: -15px;
    cursor: pointer;
    transition: transform 0.5s ease;
    z-index: 2;
}

.push-like-img:hover {
    transform: scale(1.2);
}

.star-disabled {
    font-size: 24px;
    display: inline-block;
    text-decoration: none;
    color: inherit;
}

.star {
    cursor: pointer;
    font-size: 24px;
    display: inline-block;
    text-decoration: none;
    color: inherit;
}
.stars {
    display: flex;
    gap: var(--mgc-gap-s);
}
/* MEDIA QUERIES */
/* Estilos para tablets en modo paisaje y laptops */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  
}

/* Estilos para smartphones grandes y tablets */
@media only screen and (min-width: 481px) and (max-width: 768px) {
}


/* Estilos para smartphones pequeños */
@media only screen and (max-width: 480px) {
    .img-container {
        width: 300px;
        height: 400px;
    }
}