main {
    width: 100vw;
    min-height: 80svh;
    padding: var(--mgc-padding-xl);
    background-color: var(--mgc-sand);
}

h1 {
    font-size: var(--mgc-font-size-l);
    color: var(--mgc-dark-brown);
}

@media only screen and (max-width: 390px) {
    main {
        padding: 0;
    }
}