.header-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid var(--mgc-dark-brown);
    padding: var(--mgc-padding-l);    
}


.user-data-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    border-bottom: 1px solid var(--mgc-dark-brown);
    padding: var(--mgc-padding-l);    
    gap: var(--mgc-gap-s);
}

.txt-home {
    font-size: var(--mgc-font-size-s);
    color: var(--mgc-dark-brown);
}

#books-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: var(--mgc-gap-xl);
    padding: var(--mgc-padding-xl);
}